<style></style>
<template>
    <slot></slot>
</template>
<script>
    export default class extends `HTMLElement` {

        #durability
        #rawValue
        #name
        #value
        #version

        static E_DefaultEventType = 'change'
        static E_ValueProperty = 'value'

        static get observedAttributes() { return (super.observedAttributes || []).concat('durability', 'name') }
        static get E_FlattenableProperties() { return (super.E_FlattenableProperties || []).concat('name', 'version', 'value') }

        async connectedCallback() {
            // console.log('line 21', 'db')

            const dbName = this.name, version = this.version
            if (!dbName) return
            window.indexedDB.open(dbName, version).addEventListener('success', event => {
                event.target.result.addEventListener('versionchange', event => {
                    this.#version = event.target.version
                    this.E_emitValueChange(this.#version, 'version')
                })
            })
            if (this.hasAttribute('lazy')) return

            this.addEventListener('add-object-store', event => {
                // console.log('line 32', event)
            })

            // this.#getValue(dbName)

        }

        get durability() { return this.#durability ?? this.getAttribute('durability') }
        set durability(value) { this.#durability = value }

        get name() {
            // console.log('line 43', this.hasAttribute('name'), this.getAttribute('name'), this.#name)
            return this.#name ?? this.getAttribute('name')
        }
        set name(value) { this.#name = value }

        get value() { return this.#value }
        set value(value) { this.#setValue(value) }

        get version() { return parseInt(this.#version ?? 1) }

        async #getValue(dbName) {
            dbName ||= this.name
            if (!dbName) return
            const newValue = {}
            const request = indexedDB.open(dbName)
            request.onsuccess = async event => {
                const db = event.target.result,
                    objectStoreNames = Array.from(this.querySelectorAll(`e-indexeddb-objectstore[name]`)).map(el => el.getAttribute('name'))
                transaction = db.transaction(objectStoreNames, 'readonly')
                for (const objectStoreName of objectStoreNames) transaction.objectStore(objectStoreName)
                    .getAll().addEventListener('success', event => newValue[objectStoreName] = event.target.result)
                transaction.addEventListener('complete', event => {
                    db.close()
                    this.#value = newValue
                    this.E_emitValueChange(this.#value)
                })
            }
        }

        async #setValue(tree) {
            if (!tree) return
            const dbName = this.name
            if (!dbName) return
            if (typeof tree !== 'object') return await this.#getValue(dbName)
            const version = (this.#version ?? 0) + 1, request = indexedDB.open(dbName, version)
            request.addEventListener('upgradeneeded', async event => {
                const db = event.target.result
                for (const [storeName, storePut] of Object.entries(tree)) {
                    if (!db.objectStoreNames.contains(storeName)) {
                        const objectStoreElement = this.querySelector(`e-indexeddb-objectstore[name="${storeName}"]`),
                            { keyPath, autoIncrement } = objectStoreElement ?? {}
                        const objectStore = db.createObjectStore(storeName, { keyPath, autoIncrement })
                        await new Promise(resolve => {
                            objectStore.transaction.addEventListener('complete', event => resolve, { once: true })
                        })
                    }
                }
                const transaction = db.transaction(Object.keys(tree), 'readwrite', { durability: this.durability })
                this.#value ||= {}
                for (const [storeName, storePut] of Object.entries(tree)) {
                    this.#value[storeName] = storePut
                    const objectStore = transaction.objectStore(storeName)
                    if (storePut && typeof storePut === 'object') {
                        for (const [k, v] of Object.entries(storePut)) {
                            v == null ? objectStore.delete(k) : objectStore[(k in this.#value[storeName]) ? 'put' : 'add'](v, k)
                        }
                    } else if (storePut == null) {
                        objectStore.clear()
                    } else {
                        objectStore.put(storePut)
                    }
                }
                transaction.addEventListener('complete', event => {
                    db.close()
                    this.E_emitValueChange()
                }, { once: true })
            })
        }

    }

</script>