<style></style>
<template>
    <slot></slot>
</template>
<script>
    export default class extends `meta` {

        #databases
        #value

        static E_DefaultEventType = 'change'
        static E_ValueProperty = 'value'

        static get observedAttributes() { return (super.observedAttributes || []).concat() }
        static get E_FlattenableProperties() { return (super.E_FlattenableProperties || []).concat('value') }

        get value() { return this.#value }
        set value(value) { this.databases() }

        async databases() {
            this.#databases = await window.indexedDB.databases()
            this.E_emitValueChange(this.#databases, 'databases')
            this.E_emitValueChange(this.#databases)
            return this.#databases
        }

        async deleteDatabase(name) {
            await window.indexedDB.deleteDatabase(name)
            this.#databases = await window.indexedDB.databases()
            this.E_emitValueChange(this.#databases, 'databases')
            this.E_emitValueChange(this.#databases)
            return this.#databases
        }

    }

</script>