main {
	text-align: center;
}
button {
	display: block;
	margin: 137px;
	margin-left: auto;
	margin-right: auto;
	font-size: xx-large;
	cursor: pointer;
	background-color: wheat;
	border: 3px dashed #37373773;
	border-radius: 3px;
	outline: none;
}
button:hover {
	border-color: darkgreen;	
}
button:active {
	border-color: red;	
}
fieldset {
	margin: 17px;
	margin-top: 37px;
	margin-bottom: 37px;
}
legend {
	cursor: default;
}
label {
	display: inline-block;
	margin: 17px;
	white-space: nowrap;
	width: 137px;
}
input {
	width: 37px;
	text-align: center;
	cursor: default;
}