<style></style>
<template></template>
<script>
    export default class extends `meta` {

        static E_DefaultEventType = 'change'
        static E_ValueProperty = 'credentials'

        static get observedAttributes() { return (super.observedAttributes || []).concat('prevent-silent-access') }
        static get E_FlattenableProperties() { return (super.E_FlattenableProperties || []).concat('preventSilentAccess') }

        set credentials(credential) { this.store(credential) }

        get preventSilentAccess() { return this.hasAttribute('prevent-silent-access') }
        set ['prevent-silent-access'](value) {
            if (this.hasAttribute('prevent-silent-access')) navigator.credentials.preventSilentAccess()
        }

        async create(options) {
            const credential = await navigator.credentials.create(options)
            this.E_emitValueChange(credential, 'create')
            this.E_emitValueChange({ 'create': credential })
        }

        async get(options) {
            const credential = await navigator.credentials.get(options)
            this.E_emitValueChange(credential, 'get')
        }

        async store(credential) {
            await navigator.credentials.store(credential)
            this.E_emitValueChange(credential, 'store')
            this.E_emitValueChange({ 'store': credential })
        }

    }
</script>