body {
	background-color: black;
	color: white;
}
a, a:link, a:visited {
	color: white;
}
header {
	margin-bottom: 37px;
}
footer {
	text-align: right;
	padding-right: 37px;
	font-size: smaller;
	font-weight: bold;
	margin-top: 37px;
}
main {
	min-height: 500px;
	border-top: 3px dashed #373737;
	border-bottom: 3px dashed #373737;
}