<style></style>
<template>
    <slot></slot>
</template>
<script>
    export default class extends `HTMLElement` {

        #rawValue
        #name
        #value
        #version

        static E_DefaultEventType = 'change'
        static E_ValueProperty = 'value'

        static get observedAttributes() { return (super.observedAttributes || []).concat('name', 'version') }
        static get E_FlattenableProperties() { return (super.E_FlattenableProperties || []).concat('name', 'version', 'value') }

        constructor() {
            super()
            Object.defineProperty(this, 'rawValue', { get: function () { return this.#rawValue } })
        }

        get name() { return this.#name ?? this.getAttribute('name') }
        set name(value) {
            if (this.#rawValue) this.#rawValue = this.#rawValue.close()
            if (!value) return
            this.#name = value
            const openRequest = window.indexedDB.open(this.#name, this.#version ?? 1)
            openRequest.addEventListener('success', event => {
                this.#rawValue = event.target.result
            })
            openRequest.addEventListener('upgradeneeded', event => {
                this.#rawValue = event.target.result
            })
        }

        get value() { return this.#value }
        set value(value) { this.#value = value }

        get version() { return this.#version }
        set version(value) { this.#version = value }

    }

</script>