<style></style>
<template>
    <slot></slot>
</template>
<script>
    export default class extends `HTMLElement` {

        #autoIncrement
        #keyPath
        #name
        #value

        static E_DefaultEventType = 'change'
        static E_ValueProperty = 'value'

        static get observedAttributes() { return (super.observedAttributes || []).concat('auto-incremement', 'key-path', 'name') }
        static get E_FlattenableProperties() { return (super.E_FlattenableProperties || []).concat('autoIncrement', 'keyPath', 'name', 'value') }

        async connectedCallback() {
            const setup = async () => {
            }
            setup()
            const observer = new MutationObserver(mutations => setup())
            observer.observe(this, { childList: true, subtree: true, attributes: true, attributeFilter: [] })
        }

        get autoIncrement() { return this.#autoIncrement }
        set autoIncrement(value) { this.#autoIncrement = value }

        get keyPath() { return this.#keyPath }
        set keyPath(value) { this.#keyPath = value }

        get name() { return this.#name }
        set name(value) { this.#name = value }

        get value() { return this.#value }
        set value(value) { this.#value = value }

    }

</script>