<style></style>
<template>
    <slot></slot>
</template>
<script>
    export default class extends `HTMLElement` {

        #autoIncrement
        #keyPath
        #name
        #value

        static E_DefaultEventType = 'change'
        static E_ValueProperty = 'value'

        static get observedAttributes() { return (super.observedAttributes || []).concat('auto-incremement', 'key-path', 'name') }
        static get E_FlattenableProperties() { return (super.E_FlattenableProperties || []).concat('autoIncrement', 'keyPath', 'name', 'value') }

        get autoIncrement() { return this.#autoIncrement ?? this.getAttribute('auto-increment') }
        set autoIncrement(value) { this.#autoIncrement = value }

        get keyPath() { return this.#keyPath ?? this.getAttribute('key-path') }
        set keyPath(value) { this.#keyPath = value }

        get name() { return this.#name ?? this.getAttribute('name') }
        set name(value) {
            this.#getObjectStore(value)
            this.#name = value
        }

        get value() { return this.#value }
        set value(value) { this.#value = value }

        async #getObjectStore(name) {
            const parentDbElement = this.closest('e-indexeddb-database')
            if (!parentDbElement?.name) return
            const openRequest = window.indexedDB.open(parentDbElement.name)
            openRequest.addEventListener('upgradeneeded', event => {
                const db = event.target.result
                if (!db.objectStoreName.contains(name)) db.createObjectStore(name, { keyPath: this.keyPath, autoIncrement: this.autoIncrement })
            })
        }

    }

</script>