<style></style>
<template></template>
<script>
    export default class extends `meta` {

        #id
        #serviceWorker
        #tags = []

        static E_DefaultEventType = 'register'
        static E_ValueProperty = 'tags'

        static get observedAttributes() { return (super.observedAttributes || []).concat('tags') }
        static get E_FlattenableProperties() { return (super.E_FlattenableProperties || []).concat('tags') }

        async register(tag) {
            this.#serviceWorker = await navigator.serviceWorker.ready
            if (!this.#serviceWorker?.sync?.register) return
            return await this.#register(tag)
        }

        get tags() { return this.#tags }
        set tags(value) { this.#bulkRegister(this.E.mergeVariables(value)) }

        #bulkRegister(tags) {
            if (!tags) return
            if (!Array.isArray(tags)) tags = [tags]
            navigator.serviceWorker.ready.then(sw => {
                if (!this.#serviceWorker) this.#serviceWorker = sw
                if (!this.#serviceWorker?.sync?.register) return
                for (const tag of tags.split(',').map(s => s.trim()).filter(s => !!s)) this.#register(tag)
            })
        }

        #register(tag) {
            if (this.#tags.includes(tag)) return
            this.#tags.push(tag)
            return this.#serviceWorker.sync.register(tag).then(() => this.E_emitValueChange(tag))
        }

    }
</script>