<style></style>
<template>
    <slot></slot>
</template>
<script>
    export default class extends `HTMLElement` {

        #boundingBox
        #cornerPoints
        #format
        #formats = []
        #rawValue
        #value


        static sourceTypes = [HTMLImageElement, SVGImageElement, HTMLVideoElement, HTMLCanvasElement, ImageBitmap, OffscreenCanvas, VideoFrame, Blob, ImageData]

        static E_DefaultEventType = 'detect'
        static E_ValueProperty = 'value'

        static get observedAttributes() { return (super.observedAttributes || []).concat('formats') }
        static get E_FlattenableProperties() { return (super.E_FlattenableProperties || []).concat('boundingBox', 'cornerPoints', 'format', 'formats', 'rawValue', 'value') }

        async connectedCallback() {
            this.detect().then(() => {
                const slot = this.shadowRoot.querySelector("slot"), observer = new MutationObserver(mutations => this.detect())
                observer.observe(this, { childList: true, subtree: true, attributes: true, characterData: true })
            })
        }

        get boundingBox() { return this.#boundingBox }

        get cornerPoints() { return this.#cornerPoints }

        get format() { return this.#format }

        get formats() {
            const formatsAttr = this.getAttribute('formats')
            if (formatsAttr && !this.#formats) this.#formats = formatsAttr.split(',').map(s => s.trim()).filter(s => !!s)
            return this.#formats
        }
        set formats(formats) {
            if (!formats) return
            if (typeof formats === 'string') formats = formats.split(',').map(s => s.trim()).filter(s => !!s)
            if (!Array.isArray(formats)) return
            this.#formats = formats
        }

        get rawValue() { return this.#rawValue }

        get value() { return this.#value }
        set value(source) { this.detect(source) }

        async detect(source) {
            if ((source instanceof HTMLImageElement) || (source instanceof SVGImageElement)) await source.decode()
            source = ((source
                ? (Array.isArray(source) ? source : [source])
                : this.shadowRoot.querySelector("slot").assignedElements()).filter(n => this.constructor.sourceTypes.find(t => n instanceof t))).shift()
            if (!source) return
            const detector = new BarcodeDetector({ formats: this.formats }), results = []
            try { results.push(...(await detector.detect(source))) } catch (e) { }
            const { boundingBox, cornerPoints, format, rawValue } = results[0] ?? {}, value = rawValue
            if (!value) {
                if ((source instanceof HTMLVideoElement) || (source instanceof HTMLCanvasElement)) requestAnimationFrame(() => this.detect())
                return
            }
            if (this.#boundingBox !== boundingBox) {
                this.#boundingBox = boundingBox
                this.E_emitValueChange(boundingBox, 'boundingBox')
            }
            if (this.#cornerPoints !== cornerPoints) {
                this.#cornerPoints = cornerPoints
                this.E_emitValueChange(cornerPoints, 'cornerPoints')
            }
            if (this.#format !== format) {
                this.#format = format
                this.E_emitValueChange(format, 'format')
            }
            if (this.#rawValue !== rawValue) {
                this.#rawValue = rawValue
                this.E_emitValueChange(rawValue, 'rawValue')
            }
            if (this.#value !== value) {
                this.#value = value
                this.E_emitValueChange(value)
            }
        }

    }

</script>