<style></style>
<template></template>
<script>
    export default class extends `meta` {

        #charging
        #chargingTime
        #dischargingTime
        #level
        #observe

        static validObserve = ['charging', 'chargingTime', 'dischargingTime', 'level']

        static E_DefaultEventType = 'change'
        static E_ValueProperty = 'observe'

        static get observedAttributes() { return (super.observedAttributes || []).concat('observe') }
        static get E_FlattenableProperties() {
            return (super.E_FlattenableProperties || [])
                .concat('charging', 'chargingTime', 'dischargingTime', 'level', 'observe')
        }

        async connectedCallback() {
            if (!navigator.getBattery) return
            const battery = await navigator.getBattery()
            for (const info of this.constructor.validObserve) {
                battery.addEventListener(`${info.toLowerCase()}change`, event => {
                    const data = event.target[info]
                    switch (info) {
                        case 'charging':
                            this.#charging = data
                            break
                        case 'chargingTime':
                            this.#chargingTime = data
                            break
                        case 'dischargingTime':
                            this.#dischargingTime = data
                            break
                        case 'level':
                            this.#level = data
                            break
                    }
                    if (!this.#observe || (this.#observe === info)) this.E_emitValueChange(this.#observe ? data : { [info]: data })
                })
            }
        }

        get charging() { return this.#charging }

        get chargingTime() { return this.#chargingTime }

        get dischargingTime() { return this.#dischargingTime }

        get level() { return this.#level }

        get observe() { return this.#observe }
        set observe(value) { if (this.constructor.validObserve.includes(value)) this.#observe = value }

    }
</script>