<style></style>
<template>
    <slot></slot>
</template>
<script>
    export default class extends `meta` {

        #data
        #url

        static E_DefaultEventType = 'submit'
        static E_ValueProperty = 'data'

        static get observedAttributes() { return (super.observedAttributes || []).concat('url') }
        static get E_FlattenableProperties() { return (super.E_FlattenableProperties || []).concat('auto', 'contentType', 'data', 'url') }

        get auto() { return this.hasAttribute('auto') }

        get contentType() { return this.getAttribute('content-type') }

        get data() { return this.#data }
        set data(value) { this.send(value) }

        get url() {
            const urlAttr = this.getAttribute('url')
            if (urlAttr && !this.#url) this.#url = urlAttr
            return this.#url
        }
        set url(value) { this.#url = value }

        send(data) {
            if (!this.#url) return
            this.#data = data
            return this.auto
                ? document.addEventListener('visibilitychange', event => (document.visibilityState === "hidden") && this.#serializeAndSend(data))
                : this.#serializeAndSend(data)
        }

        #serializeAndSend(data) {
            this.E.serialize(data, this.contentType).then(serializedData => {
                navigator.sendBeacon(this.E.resolveUrl(this.#url), serializedData)
                this.E_emitValueChange(data)
            })
        }

    }

</script>