<style></style>
<template></template>
<script>
    export default class extends `meta` {

        #abortController
        #available
        #characteristic
        #characteristicObject
        #connected
        #data
        #deviceObject
        #device
        #devices
        #readData
        #receivedData
        #sentData
        #serverObject
        #service
        #serviceObject

        static E_DefaultEventType = 'receive'
        static E_ValueProperty = 'data'

        static get observedAttributes() { return (super.observedAttributes || []).concat('characteristic', 'device', 'service') }
        static get E_FlattenableProperties() {
            return (super.E_FlattenableProperties || [])
                .concat('available', 'characteristic', 'connected', 'contentType', 'data', 'device', 'devices', 'readData',
                    'receivedData', 'sentData', 'service', 'verify')
        }

        get available() { return this.#available }
        set available(value) { this.getAvailability() }

        get characteristic() {
            if (!this.#characteristic) this.#characteristic = this.getAttribute('characteristic') || undefined
            return this.#characteristic
        }
        set characteristic(value) { this.#characteristic = value }

        get connected() { return this.#connected }
        set connected(value) { value ? this.connect() : this.disconnect() }

        get contentType() { return this.getAttribute('content-type') }

        get data() { return this.#data }
        set data(value) { this.send(value) }

        get device() {
            if (!this.#device) this.device = this.getAttribute('device') || undefined
            return this.#device
        }
        set device(value) {
            if (typeof value === 'string') {
                try { this.#device = JSON.parse(value) } catch (e) { }
            } else if (value && (typeof value === 'object')) {
                this.#device = value
            } else {
                this.#device = undefined
            }
        }

        get devices() { return this.#devices }
        set devices(value) { this.getDevices() }

        get readData() { return this.#readData }

        get receivedData() { return this.#receivedData }

        get sentData() { return this.#sentData }

        get service() {
            if (!this.#service) this.#service = this.getAttribute('service') || undefined
            return this.#service
        }
        set service(value) { this.#service = value }

        get verify() { return this.hasAttribute('verify') }

        async getAvailability() {
            if (typeof navigator.bluetooth.getAvailability !== 'function') return
            this.#available = await navigator.bluetooth.getAvailability()
            this.E_emitValueChange(this.#available, 'available')
            return this.#available
        }

        async getDevices() {
            if (typeof navigator.bluetooth.getDevices !== 'function') return
            this.#devices = await navigator.bluetooth.getDevices()
            this.E_emitValueChange(this.#devices, 'devices')
            return this.#devices
        }

        async read() {
            await this.connect()
            if (!this.#connected) return
            const readData = (await this.#characteristicObject.readValue()).getUint8(0).toString(), contentType = this.contentType
            this.#readData = await Promise.resolve((typeof readData === 'string' && contentType) ? this.E.parse(readData, contentType) : readData)
            this.#data = this.#readData
            this.E_emitValueChange(this.#readData, 'read')
            return readData
        }

        async send(data) {
            await this.connect()
            if (!this.#connected) return
            const serializedData = await Promise.resolve(typeof data === 'string' ? data : this.E.serialize(data, this.contentType))
            const methodToUse = this.verify ? 'writeValueWithResponse' : 'writeValueWithoutResponse'
            await this.#characteristicObject[methodToUse](new Uint8Array((new TextEncoder()).encode(serializedData)))
            this.#sentData = data
            this.#data = this.#sentData
            this.E_emitValueChange(data, 'send')
        }

        async connect() {
            if (!(await navigator.bluetooth.getAvailability())) return
            if (!this.#service || !this.#characteristic) return
            this.#deviceObject ||= await navigator.bluetooth.requestDevice(this.#device ?? { acceptAllDevices: true })
            if (!this.#deviceObject) return
            this.#serverObject ||= await this.#deviceObject.gatt.connect()
            if (!this.#serverObject) return
            this.#serviceObject ||= await this.#serverObject.getPrimaryService(this.#service)
            if (!this.#serviceObject) return
            this.#characteristicObject ||= await this.#serviceObject.getCharacteristic(this.#characteristic)
            if (!this.#characteristicObject) return
            if (this.#abortController) this.#abortController.abort()
            this.#abortController = new AbortController()
            this.#deviceObject.addEventListener('gattserverdisconnected', event => this.connect())
            this.#characteristicObject.addEventListener('characteristicvaluechanged', event => {
                const receivedData = event.target.value.getUint8(0).toString()
                Promise.resolve((typeof receivedData === 'string' && contentType) ? this.E.parse(receivedData, contentType) : receivedData).then(rd => {
                    this.#receivedData = rd
                    this.#data = this.#receivedData
                    this.E_emitValueChange(this.#receivedData)
                })
            }, { signal: this.#abortController.signal })
            this.#characteristicObject.startNotifications()
            this.E_emitValueChange(true, 'connect')
            return true
        }

        disconnect() {
            if (this.#characteristicObject) this.#characteristicObject.stopNotifications()
            if (this.#serverObject) this.#serverObject.disconnect()
            this.#characteristicObject = this.#serviceObject = this.#serverObject = this.#deviceObject = undefined
            this.E_emitValueChange(false, 'connect')
            this.E_emitValueChange(true, 'disconnect')
        }

    }

</script>