<style></style>
<template></template>
<script>
    export default class extends `meta` {

        #entries

        static E_DefaultEventType = 'change'
        static E_ValueProperty = 'entries'

        static get E_FlattenableProperties() { return (super.E_FlattenableProperties || []).concat('entries') }

        get entries() { return this.#entries }
        set entries(value) { this.add(value) }

        async add(entry) {
            if (!entry || (typeof entries !== 'object')) return
            const registration = await navigator.serviceWorker.ready
            await registration.index.add(entry)
            this.#entries = await registration.index.getAll()
            this.E_emitValueChange(entry, 'add')
            this.E_emitValueChange({ add: entry })
        }

        async delete(id) {
            if (!id || typeof id !== 'string') return
            const registration = await navigator.serviceWorker.ready
            await registration.index.delete(id)
            this.#entries = await registration.index.getAll()
            this.E_emitValueChange(id, 'delete')
            this.E_emitValueChange({ 'delete': id })
        }

    }
</script>