<style></style>
<template></template>
<script>
    export default class extends `meta` {

        #directory
        #directoryHandle
        #fileHandles = []
        #files = []
        #options

        static E_DefaultEventType = 'change'
        static E_ValueProperty = 'files'

        static get observedAttributes() { return (super.observedAttributes || []).concat('options') }
        static get E_FlattenableProperties() { return (super.E_FlattenableProperties || []).concat('directory', 'files', 'id', 'mode', 'multiple', 'options') }

        get directory() { return this.#directory }
        set directory(value) {
            let options = this.options, startIn
            if (typeof value === 'object') {
                options = value
            } else if (typeof value === 'string') {
                startIn = value
            }
            startIn ||= options?.startIn
            options ||= {
                id: this.id,
                mode: this.mode,
                startIn: startIn ? startIn : this.#directoryHandle
            }
            window.showOpenDirectoryPicker(options).then(directoryHandle => {
                this.#directoryHandle = directoryHandle
                this.#directory = this.#directoryHandle ? { kind: this.directoryHandle.kind, name: this.directoryHandle.name } : undefined
                this.E_emitValueChange(this.#directory, 'directory')
                return this.E_emitValueChange(this.#directory)
            })
        }

        get excludeAcceptAll() { return this.hasAttribute('exclude-accept-all') }

        get files() { return this.#files }
        set files(value) {
            let options, types, startIn
            if (Array.isArray(value)) {
                types = value
            } else if (typeof value === 'object') {
                options = value
            } else if (typeof value === 'string') {
                startIn = value
            }
            startIn ||= options?.startIn
            options ||= {
                excludeAcceptAllOption: this.excludeAcceptAll,
                multiple: this.multiple,
                id: this.id,
                startIn: startIn ? startIn : this.#directoryHandle,
                types: types ? types : []
            }
            window.showOpenFilePicker(options).then(fileHandles => {
                this.#fileHandles = fileHandles
                Promise.all(this.#fileHandles.map(fh => fh.getFile().then(f => {
                    return f.arrayBuffer().then(arrayBuffer => f.text().then(text => ({ arrayBuffer, lastModified: f.lastModified, name: f.name, size: f.size, text, type: f.type })))
                }))).then(files => {
                    this.#files = files
                    this.E_emitValueChange(this.#files, 'files')
                    return this.E_emitValueChange(this.#files)
                })
            })
        }

        get id() { return this.getAttribute('id') }

        get mode() { return this.getAttribute('mode') }

        get multiple() { return this.hasAttribute('multiple') }

        get options() {
            if (!this.#options) this.options = this.getAttribute('options') || undefined
            return this.#options
        }
        set options(value) {
            if (typeof value === 'string') {
                try { this.#options = JSON.parse(value) } catch (e) { }
            } else if (value && (typeof value === 'object')) {
                this.#options = value
            } else {
                this.#options = undefined
            }
        }

    }

</script>