<style></style>
<template></template>
<script>
    export default class extends `meta` {

        #directory
        #directoryHandle
        #fileHandles = []
        #files = []
        #options

        static E_DefaultEventType = 'change'
        static E_ValueProperty = 'file'

        static get observedAttributes() { return (super.observedAttributes || []).concat('options', 'id', 'multiple') }
        static get E_FlattenableProperties() { return (super.E_FlattenableProperties || []).concat('directory', 'files', 'options') }

        get directory() { return this.#directory }
        set directory(value) {
            typeof value === 'string' ? this.setDirectory(value) : this.showDirectoryPicker(value)
        }

        get excludeAcceptAll() { return this.hasAttribute('exclude-accept-all') }

        get files() { return this.#files }
        set files(value) {
            let options, types, startIn
            if (Array.isArray(value)) {
                types = value
            } else if (typeof value === 'object') {
                options = value
            } else if (typeof value === 'string') {
                startIn = value
            }
            options ||= {
                excludeAcceptAllOption: this.excludeAcceptAll,
                multiple: this.multiple,
                id: this.id,
                startIn: startIn ? startIn : this.#directoryHandle,
                types: types ? types : []
            }
            window.showOpenFilePicker(options).then(fileHandles => {
                this.#fileHandles = fileHandles
                Promise.all(this.#fileHandles.map(fh => fh.getFile().then(f => {
                    return f.arrayBuffer().then(arrayBuffer => f.text().then(text => ({ arrayBuffer, lastModified: f.lastModified, name: f.name, size: f.size, text, type: f.type })))
                }))).then(files => {
                    this.#files = files
                    return this.E_emitValueChange(this.#files, 'files')
                })
            })
        }

        get id() { return this.getAttribute('id') }

        get multiple() { return this.hasAttribute('multiple') }

        get options() {
            if (!this.#options) this.options = this.getAttribute('options') || undefined
            return this.#options
        }
        set options(value) {
            if (typeof value === 'string') {
                try { this.#options = JSON.parse(value) } catch (e) { }
            } else if (value && (typeof value === 'object')) {
                this.#options = value
            } else {
                this.#options = undefined
            }
        }

        async setDirectory(name, options) {
            if (!this.#directoryHandle) await this.showDirectoryPicker(options)
            if (!this.#directoryHandle) return
            if (name) {
                this.#directoryHandle = await this.#directoryHandle.getDirectoryHandle(name, options)
                if (!this.#directoryHandle) {
                    this.#directory = undefined
                    return this.E_emitValueChange(this.#directory, 'directory')
                }
                this.#directory = this.#directoryHandle ? { kind: this.#directoryHandle.kind, name: this.#directoryHandle.name } : undefined
            }
            return this.E_emitValueChange(this.#directory, 'directory')
        }

        async setFile(name, options) {
            if (!this.#directoryHandle) await this.showDirectoryPicker(options)
            if (!this.#directoryHandle) return
            const fileHandle = await this.#directoryHandle.getFileHandle(name, options)
            if (!fileHandle) {
                this.#file = undefined
                return this.E_emitValueChange(this.#file, 'file')
            }
            const file = fileHandle.getFile()
            this.#file = { arrayBuffer: await file.arrayBuffer(), lastModified: file.lastModified, name: file.name, size: file.size, text: await file.text(), type: file.type }
            return this.E_emitValueChange(this.#file, 'file')
        }

        async showDirectoryPicker(options) {
            this.#directoryHandle = await window.showDirectoryPicker(options)
            this.#directory = this.#directoryHandle ? { kind: this.#directoryHandle.kind, name: this.#directoryHandle.name } : undefined
            return this.E_emitValueChange(this.#directory, 'directory')
        }

        async showOpenFilePicker(options) {
            const fileHandles = await window.showOpenFilePicker(options)
            if (fileHandles && fileHandles.length) {
                this.#files = []
                this.#directory = undefined
                for (const fileHandle of fileHandles) {
                    const file = await fileHandle.getFile(),
                        fileObject = { arrayBuffer: await file.arrayBuffer(), lastModified: file.lastModified, name: file.name, size: file.size, text: await file.text(), type: file.type }
                    this.#files.push(fileObject)
                }
            }
            return this.E_emitValueChange(this.#files, 'files')
        }

    }

</script>