<style></style>
<template></template>
<script>
    export default class extends `script` {

        __abortController
        __cellNames = []
        __fields = {}
        __fieldNames = []
        __handlers = []
        __keyedAbortControllers = {}
        __src
        __statements = []
        __type

        disconnectedCallback() {
            if (this.__abortController) this.__abortController.abort()
            for (const [k, v] of Object.entries(this.__keyedAbortControllers)) v.abort()
        }

        static get observedAttributes() { return (super.observedAttributes || []).concat('src', 'type') }

        get fields() { return this.__fields }

        get keyedAbortControllers() { return this.__keyedAbortControllers }

        get src() { return this.getAttribute('src') || this.__src }
        set src(value) { this.__src = value }

        get type() { return this.getAttribute('type') || this.__type }
        set type(value) { this.__type = value }

        async load(app) {
            this.__handlers = Object.freeze(app.handlers ?? [])
            this.__fields ||= {}
            for (const fieldName of app.fieldNames) this.__fields[fieldName] = this.getField(fieldName)
            Object.freeze(this.__fields)
            this.__fieldNames = Object.freeze(app.fieldNames ?? [])
            this.__cellNames = Object.freeze(app.cellNames ?? [])
            this.__statements = Object.freeze(app.statements ?? [])
        }

        run() {
            if (this.__abortController) this.__abortController.abort()
            this.__abortController = new AbortController()
            const rootNode = this.getRootNode(),
                context = Object.freeze(rootNode instanceof ShadowRoot
                    ? { ...this.E.env.context, ...Object.fromEntries(Object.entries(rootNode.host.dataset)) } : this.E.env.context),
                env = Object.freeze({ fields: {}, cells: {}, context })
            for (const fieldName of this.__fieldNames) env.fields[fieldName] = this.getField(fieldName)
            for (const cellName of this.__cellNames) env.cells[cellName] = this.E.getCell(cellName)
            Object.freeze(env.fields)
            Object.freeze(env.cells)
            for (const [statementIndex, statement] of this.__statements.entries()) {
                const { labels = {}, steps = [] } = statement
                for (const [stepIndex, step] of steps.entries()) {
                    const [labelItem, handlerIndex, defaultValue] = step
                    let [label, labelMode] = Array.isArray(labelItem) ? labelItem : [labelItem, undefined]
                    this.addEventListener(stepIndex ? `done-${statementIndex}-${stepIndex - 1}` : 'run', async event => {
                        let detail = await this.__handlers[handlerIndex](event.detail, { ...labels }, env, statementIndex, stepIndex)
                        if (detail == undefined) {
                            if (typeof defaultValue !== 'string') {
                                detail = defaultValue
                            } else if (((defaultValue[0] === '"') && defaultValue.endsWith('"')) || ((defaultValue[0] === "'") && defaultValue.endsWith("'"))) {
                                detail = defaultValue.slice(1, -1)
                            } else if (defaultValue.match(this.E.sys.regexp.hasVariable)) {
                                detail = this.E.mergeVariables(defaultValue, undefined, labels, env)
                            } else if (defaultValue.match(this.E.sys.regexp.isJSONObject) || defaultValue.match(this.E.sys.regexp.isNumeric)
                                || ['true', 'false', 'null'].includes(defaultValue) || (defaultValue[0] === '[' && defaultValue.endsWith(']'))) {
                                try {
                                    detail = JSON.parse(defaultValue)
                                } catch (e) {
                                    detail = defaultValue
                                }
                            } else {
                                detail = defaultValue
                            }
                        }
                        switch (label[0]) {
                            case '@':
                                env.fields[label.slice(1)].set(detail, labelMode)
                                break
                            case '#':
                                env.cells[label.slice(1)].set(detail, labelMode)
                                break
                            default:
                                labels[label] = detail
                        }
                        labels[`${stepIndex}`] = detail
                        if (detail != undefined) this.dispatchEvent(new CustomEvent(`done-${statementIndex}-${stepIndex}`, { detail }))
                    }, { signal: this.__abortController.signal })
                }
            }
            this.dispatchEvent(new CustomEvent('run'))
        }

        getField(name) {
            if (!name) return
            if (!this.__fields[name]) {
                const field = {
                    type: 'field',
                    eventTarget: new EventTarget(),
                    get: function () { return this.value },
                    set: function (value, labelMode) {
                        let isSame = this.value === value
                        if (!isSame) try { isSame = JSON.stringify(this.value) === JSON.stringify(value) } catch (e) { }
                        if (isSame) {
                            if (labelMode === 'force') field.eventTarget.dispatchEvent(new CustomEvent('change', { detail: value }))
                            return this
                        }
                        this.value = value
                        if (labelMode !== 'silent') field.eventTarget.dispatchEvent(new CustomEvent('change', { detail: value }))
                        return this
                    },
                    value: undefined, name
                }
                this.__fields[name] = field
            }
            return this.__fields[name]
        }

    }
</script>